body{
    margin: 0;
    padding: 0;
}

.info-start{
    color: aliceblue;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;

    margin: 10px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.header{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
}

.photo-logo{
    width: 430px;
    height: 450px;
    margin-right: 30px;
}

.cvv-heading{
    margin-top: 5px;

    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 59px;

    color: #fff;

    text-shadow: 
		-0   -2px 1px rgba( 0, 0, 0, 0.45 ),
		 0   -2px 1px rgba( 0, 0, 0, 0.45 ),
		-0    2px 1px rgba( 0, 0, 0, 0.45 ),
		 0    2px 1px rgba( 0, 0, 0, 0.45 ),
		-2px -0   1px rgba( 0, 0, 0, 0.45 ),
		 2px -0   1px rgba( 0, 0, 0, 0.45 ),
		-2px  0   1px rgba( 0, 0, 0, 0.45 ),
		 2px  0   1px rgba( 0, 0, 0, 0.45 ),
		-1px -2px 1px rgba( 0, 0, 0, 0.45 ),
		 1px -2px 1px rgba( 0, 0, 0, 0.45 ),
		-1px  2px 1px rgba( 0, 0, 0, 0.45 ),
		 1px  2px 1px rgba( 0, 0, 0, 0.45 ),
		-2px -1px 1px rgba( 0, 0, 0, 0.45 ),
		 2px -1px 1px rgba( 0, 0, 0, 0.45 ),
		-2px  1px 1px rgba( 0, 0, 0, 0.45 ),
		 2px  1px 1px rgba( 0, 0, 0, 0.45 ),
		-2px -2px 1px rgba( 0, 0, 0, 0.45 ),
		 2px -2px 1px rgba( 0, 0, 0, 0.45 ),
		-2px  2px 1px rgba( 0, 0, 0, 0.45 ),
		 2px  2px 1px rgba( 0, 0, 0, 0.45 ),
		-2px -2px 1px rgba( 0, 0, 0, 0.45 ),
		 2px -2px 1px rgba( 0, 0, 0, 0.45 ),
		-2px  2px 1px rgba( 0, 0, 0, 0.45 ),
		 2px  2px 1px rgba( 0, 0, 0, 0.45 );
}

.main-info{
    background-color: #423E3B;
}

.code{
    max-width: 250px;
}

.detailed-info{
    margin-top: 25px;
    background-image: url(../img/bg.jpg);
}

.social-link{
    margin-left: 10px;
}

.info-last{
    padding: 25px;
    margin-top: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
	text-shadow: 
		-0   -2px 6px rgba( 0, 0, 0, 0.45 ),
		 0   -2px 6px rgba( 0, 0, 0, 0.45 ),
		-0    2px 6px rgba( 0, 0, 0, 0.45 ),
		 0    2px 6px rgba( 0, 0, 0, 0.45 ),
		-2px -0   6px rgba( 0, 0, 0, 0.45 ),
		 2px -0   6px rgba( 0, 0, 0, 0.45 ),
		-2px  0   6px rgba( 0, 0, 0, 0.45 ),
		 2px  0   6px rgba( 0, 0, 0, 0.45 ),
		-1px -2px 6px rgba( 0, 0, 0, 0.45 ),
		 1px -2px 6px rgba( 0, 0, 0, 0.45 ),
		-1px  2px 6px rgba( 0, 0, 0, 0.45 ),
		 1px  2px 6px rgba( 0, 0, 0, 0.45 ),
		-2px -1px 6px rgba( 0, 0, 0, 0.45 ),
		 2px -1px 6px rgba( 0, 0, 0, 0.45 ),
		-2px  1px 6px rgba( 0, 0, 0, 0.45 ),
		 2px  1px 6px rgba( 0, 0, 0, 0.45 ),
		-2px -2px 6px rgba( 0, 0, 0, 0.45 ),
		 2px -2px 6px rgba( 0, 0, 0, 0.45 ),
		-2px  2px 6px rgba( 0, 0, 0, 0.45 ),
		 2px  2px 6px rgba( 0, 0, 0, 0.45 ),
		-2px -2px 6px rgba( 0, 0, 0, 0.45 ),
		 2px -2px 6px rgba( 0, 0, 0, 0.45 ),
		-2px  2px 6px rgba( 0, 0, 0, 0.45 ),
		 2px  2px 6px rgba( 0, 0, 0, 0.45 );
}

.vk-link{
    width: 50px;
    height: 50px;
}